@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
* {
  box-sizing: border-box;
}

.header {
  color: orange;
  height: 282px;
}

body {
  background: #fefefe;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.contenido {
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .contenido {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .contenido {
    width: 940px;
  }
}

@media (min-width: 1200px) {
  .contenido {
    width: 1140px;
  }
}

.secciones {
  margin-right: 0px;
  margin-left: 0px;
}

.seccion-a {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 768px) {
  .seccion-a {
    float: left;
    width: 100%;
  }
  .ceslogo {
  	   text-align: center;
  	   padding-top: 15px;
  	   padding-bottom: 0px;
    }
}

@media (min-width: 992px) {
  .seccion-a {
    float: left;
    width: 50%;
  }
  .ceslogo {
	   text-align: center;
	   padding-top: 15px;
	   padding-bottom: 0px;
  }
}

.ceslogo {
 padding: 10px 0 0 90px;
}

.img-logo {
  display: block;
  max-width: 100%;
}

img {
  vertical-align: middle;
  border: 0;
}

.cabezera-contacto {
  display: block;
  padding: 5px 0 2px 0;
}
  .cabezera-contacto li {
    display: inline;
    margin-right: 14px;
    font-size: 18px;
  }
    .cabezera-contacto i {
      display: inline;
      font-size: 22px;
    }

    .cabezera-contacto li a {
      color: #49a5bf;
    }

.redes {
  display: block;
  text-align: right;
  padding-top: 30px;
  padding-bottom: 5px;
}
  .redes li {
    display: inline-block;
    width: 35px;
    height: 35px;
    font-size: 18px;
    margin-right: 5px;
    text-align: center;
    cursor: pointer;
    border: 2px solid #fff;
  }

  .redes li.facebook {
    background: blue;
  }

  .redes i {
    color: #fff;
    line-height: 30px;
  }

  .redes .twitter {
    background: lightblue;
  }

  .redes .youtube {
    background: red;
  }

.bienvenida {
  text-align: right;
  padding: 2px 7px 0 0;
}

.horario {
  text-align: right;
  padding: 10px 70px 0 0;
}

hr {
  width: 100%;
  color: #555;
}

h1, h3 {
  color: #666;
  text-shadow: 0 0 1px rgba(0,0,0,0.01);
  font-weight: 700;
}

p {
  font-size: 16px;
  line-height: 26px;
  color: #0077a9;
  margin: 0 0 10px;
  letter-spacing: 1px;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
  list-style: none;
}

a {
  background: transparent;
  text-decoration: none
}

.navegacion {
  background: #fefefe;
  padding-right: 1rem;
  position: sticky;
  top: 0;
  z-index: 999;
  padding: .5rem 1rem;
}
  .navegacion .barra-nav {
    position: relative;
    min-height: 50px;
  }
    .navegacion .barra-nav .menu {
      display: block;
      height: auto;
      padding-bottom: 0;
      overflow: visible;
      border-color: #e7e7e7;
      max-height: 340px;
      padding-right: 15px;
      margin-top: 25px;
      margin-bottom: 25px;
      width: auto;
    }
      .navegacion .barra-nav .menu ul {
        float: left;
        margin: 0;
      }
          .menu .nav > li {
            float: left;
          }
            .nav > li {
              position: relative;
              display: block;
            }
        .navegacion .barra-nav .menu .nav > li > a {
          color: #111;
          padding: 10px 20px;
          text-transform: uppercase;
          font-weight: normal;
          line-height: 20px;
          font-size: 15px;
        }
        .navegacion .barra-nav .menu .nav > li > a:hover {
          color: #fff;
          box-shadow: 3px 3px 0 rgba(201, 201, 201, 1);
        }
        .navegacion .barra-nav .menu .nav .activo > a {
          background: #fc8d16;
          box-shadow: 3px 3px 0 rgba(201, 201, 201, 1);
          color: #fff;
          font-weight: normal;
          font-size: 15px;
        }
          .nav > li {
            margin-right: 7px;
          }
        .menu ul > li > .dropmenu {
          display: none;
          position: absolute;
          top: 100%;
          right: auto;
          left: 0;
          z-index: 99;
          text-transform: uppercase;
          float: left;
          min-width: 200px;
          padding: 0;
          font-size: 14px;
          margin-top: 0;
        }
        .abrir:hover > a {
          background: #fc8d16;
        }
        .abrir:hover .dropmenu {
          display: block;
          top: 30px;
        }
        .dropmenu {
          background: #fc8d16;
        }
        .dropmenu > li > a {
          display: block;
          padding: 7px 32px 7px 10px!important;
          clear: both;
          font-weight: normal;
          white-space: nowrap;
          color: #fff;
          transition: padding 400ms;
        }
        .dropmenu > li > a:hover {
          color: #111;
          background: #fff;
          text-decoration: none;
          padding: 7px 20px;
        }

.centro {
  text-align: center;
}

.servicios-general {
  position: relative;
  min-width: 99%;
  overflow: visible;
  padding-bottom: 60px;
}
.servicios {
  background: linear-gradient(to right, rgba(242,251,252,1) 5%, rgba(242,251,252,1) 9%, rgba(234,243,250,1) 41%, rgba(237,233,222,1) 83%, rgba(238,234,223,1) 84%, rgba(254,243,231,1) 100%);
  width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}
  .servicios .contenido-servicios {
    justify-content: center;
    margin-left: 0;
    clear: both;
  }
    .servicios-general .serv {
      display: flex;
      float: left;
    }
      .servicios-general .contenido-servicios .contenido-serv {
        display: flex;
        flex-direction: column;
        width: 248px;
        margin: 10px;
        padding: 20px;
        clear: both;
        overflow: hidden;
        text-align: center;
        border: 0;
      }
      article {
        display: block;
      }
        .servicios-general .contenido-servicios .contenido-serv .texto {
          float: left;
          width: 100%;
          text-align: center;
          margin-left: 0;
        }
          .servicios-general .contenido-servicios .contenido-serv .texto p {
            margin-top: 10px;
            font-size: 14px;
            padding-top: 0;
            padding-left: 0;
            line-height: 16px;
          }
            .servicios-general .contenido-servicios a {
              color: #363636;
              display: inline-block;
              width: 100%;
              text-decoration: none;
            }
            .servicios-general .contenido-servicios a:visited {
              outline: 0;
            }
.contenido-serv .serv-logo {
  float: left;
}
