.logo{
    width: 170px;
    height: 140px;    
}
ul{
    border: 1px solid black;
    list-style: none;
    margin: 10px;
    padding: 0;
    overflow: hidden;
    display: inline;
    
}
a{
    text-decoration: none;
}
li{
    border: 1px solid black ;
    background-color: lightcoral;
    display: inline;
}
body{
    background-color: lightblue;
}
li:hover{
    border: 3px solid yellow;
    background-color: rebeccapurple;
}
a:hover{
    color: white;
}
td{
    background-color: turquoise;
}
header{
    background-color: white;
    border-radius: 15%;
}
img.logo{
    margin-left: 15em;

}
h1{
    margin-left: 7em;
}